.wrapper-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.wrapper-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.code-box {
	// border: 2px groove #4f5b62;
	padding: 2px 2px 2px 2px;
}

.html-box {
	// border: 2px groove #4f5b62;
	padding: 2px 2px 2px 2px;
}

.css-box {
	// border: 2px groove #4f5b62;
	padding: 2px 2px 2px 2px;
}

.res-box {
	// border: 2px groove #4f5b62;
	padding: 2px 2px 2px 2px;
}

#resArea {
	min-width: 75%;
	min-height: 300px;
}
